@font-face{
	font-family: 'GothaProBol';
	src:url(../fonts/GothamPro-Bold.woff);
	font-weight: bold;
}
@font-face{
	font-family: 'GothamPro-Light';
	src:url(../fonts/GothamPro-Light.woff);
	font-style: normal;
}
@font-face{
	font-family: 'GothamPro-LightItalic';
	src:url(../fonts/GothamPro-LightItalic.woff);
	font-style: normal;
}
body{
	margin: 0;
	font-family:  GothaProBol;
}

.header{
	background: #27273e;
	height: 440px;
	
}

.header .container{
	position: relative;
	height: 77px;
}
.container{
	width: 1100px;
	margin: 0 auto;
}
.number{
	font-size: 21px;
	color: #ffffff;
	text-decoration: none;
}
.work{
	font-size: 14px;
	color: #b12167;
	font-weight: bold;
}
.logo{
	display: inline-block;
	position:  	absolute;
	left: 20px;
	top: 10px;
}
.company_contact{
	position: absolute;
	right: 21px;
	top:10px;
	text-align: right;
	width: 190px;
}
.header_banner{
	padding-top: 77px;
	margin: 0px;
}

.footer .container{
	position: relative;
	height: 77px;
}
.container{
	
}
.sidebar{
float: left;
height: 10%;
width: 25%;
left: 20px;
top:55px;
font-size: 12px;
}
.product{
	float: left;
    width: 75%;
}
.promo_text{
	font-weight: bold;
	font-size: 11px;
}
.promo_inf{
	font-size: 18px;
	font-family: 'GothamPro-Light';
}
.main_text{
	font-weight: bold;
	font-size: 49px;
}
.item_description{
	font-family: 'GothamPro-Light';
}
.inf{
	display: inline-block;
	text-align: center;
	float: left;
	padding: 10px;
	width: 250px;
}
.text{
	font-family: 'GothamPro-Light';
}
.date{
	font-family: 'GothamPro-Light';
}
.name_text{
font-weight: bold;
}
.pic1{
	/*position: relative;
	    top: 30px;*/
padding: 30px;
	/*left:50px;
	top:-15px;*/
}
.pic2{
/*position: relative;
    top: 30px;*/
padding: 30px;
	/*left:53px;
	top:-17px;*/
}
.pic3{
	padding: 30px;

}
.circle{
	
	width: 90px;
	height: 90px;
	background: #27273e;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	    margin: 0 auto;
}
.coments{
float: left;
    display: inline-block;
    /*padding-left: 200px;*/
    float: left;
    padding-left: 25%;
    width: 70%;
}

.prod{
width: 100%;}
.coments_first{
	float: left;
	padding-bottom: 60px;
	padding: 10px;
}
.avatar{
	padding-right: 15px;
	float: left;
}
.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
/** html .row { height: 1%; }*/
.row { display: block; }
.footer{
	background: #27273e;
	height: 80px;
}
.info{
	/*float: left;*/
	color: white;
	position: absolute;
    left: 21px;
    width: 260px;
    height: 70px;
	/*text-align: left;*/
}

.contact_link{
	display: inline;
    text-align: right;
	
}
.footer_logo{
	text-align: center;
	position: relative;
	top:18px;
	left: 50%;
}
ul.links li{
	display: inline-block;

    list-style-type: none; /* Убираем маркеры */
}
.circle_link{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	    

}
.circle_link:hover{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #ec1e79;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	    

}
.links_item{
	padding: 15px;
	padding-right: 20px;
}
.text_footer{
	font-family: 'GothamPro-Light';
	width: 300px;
}
.link_logo{
	padding: 10px;
	display: inline-block;

}
.pagination_pages_item_link{
	color: black;
}
.pagination_pages_item{

}
.links{
	float: right;
	color: white;
	position: relative;
    right: 20px;
	text-align: right;
}
.log_link{
		padding: 4px;
}
.links_logs{
	float: right;
	color: white;
	position: relative;
    right: 50px;
	text-align: right;
	margin: 0;
}

.pagination_pages_item_link:hover{
	width: 25px;height: 25px;color: white;background-color: #282840;border-radius: 3px;
}

.pagination_pages_item_link:hover{
	color: white;
}

.pagination_pages_item_link{
	padding: 8px;
	font-size: 14px;
}
/*.pagination_prev:hover{
	width: 25px;height: 25px;color: white;background-color: #282840;border-radius: 3px;
}*/

.pagination_pages_item{
	display: inline-block;
	padding: 3px;
}
.pagination_prev{
	display: inline-block;
	color: #27273e;
}
.pagination_next{
	display: inline-block;
}

/*.pagination_display{
display: inline-block;
}*/
.pagination{
	padding-left: 40%;
}
.pagination_control{
	font-family: 'GothamPro-Light';
	display: inline-block;
}
.pagination_display{
	display: inline-block;
	font-family: 'GothamPro-Light';
}
a{
	text-decoration: none;
}
.date{

	color: #989898;
}
.pagin_text{
	color: #444;
}
.sidebar_menu{
	color: #ed3385
}
ul.sidebar_menu{
	list-style-type: none;
}
/*li.link_main:before{
background-image: url(../img/main_icon.png);
}*/
li.link_main{
	list-style-type: none;
	list-style-image: url(../img/main_icon.png);
	color: black;
	width: 30px;
	padding: 10px;
}
li.link_main a.side_menu .nav_title{
	color: black;
}
li.link_feed{
	list-style-type: none;
	list-style-image: url(../img/feed_icon.png);
	padding: 10px;
	
}
li.link_wallet{
	list-style-type: none;
	list-style-image: url(../img/wallet_icon.png);
	padding: 10px;
}

li.link_main:hover{
	list-style-type: none;
	list-style-image: url(../img/main_icon.png);
	color: black;
	padding: 10px;
}
li.link_feed:hover{
	list-style-type: none;
	list-style-image: url(../img/feed_icon_hover.png);
	/*padding: 10px;*/
	color: black;
}
li.link_wallet:hover{
	list-style-type: none;
	list-style-image: url(../img/wallet_icon_hover.png);
	/*padding: 10px;*/
	color: black;
}
li.link_feed:hover .side_menu{
	list-style-type: none;
	list-style-image: url(../img/feed_icon_hover.png);
	/*padding: 10px;*/
	color: black;
}
li.link_wallet:hover .side_menu{
	list-style-type: none;
	list-style-image: url(../img/feed_icon_hover.png);
	/*padding: 10px;*/
	color: black;
}
li.link_wallet:hover{
	list-style-type: none;
	list-style-image: url(../img/wallet_icon_hover.png);
	/*padding: 10px;*/
	color: black;
}

.nav_title{
	font-weight: bold;
	font-size: 12px;
}
.side_menu{
	color: #ed3385;
}
.link_feed:hover {
	color: black;
}

li:before{
	color: #ed3385;

}
.sidebar_menu a:hover +div{
	color: black;
}
a.work:hover+div  {
        display: block;
    }
    .sidebar_menu{
    	width: 30px;
    }
   
    .hide{
    	background-color: white;
    	display: none;
    	width: 180px;
    	height: 60px;
    	border-radius: 5px;
    	font-family: 'GothamPro-Light';
    }
    ul.link_logo a:hover{
    	color: black;
    	background-color: black;
    }
li{
	color: #ed3385;
}

span{
	color: black;
}
.header{
	background:#27273e;
}
