@font-face{
	font-family: 'GothaProBol';
	src:url(../fonts/GothamPro-Bold.woff);
	font-weight: bold;
}
@font-face{
	font-family: 'GothamPro-Light';
	src:url(../fonts/GothamPro-Light.woff);
	font-style: normal;
}
@font-face{
	font-family: 'GothamPro-LightItalic';
	src:url(../fonts/GothamPro-LightItalic.woff);
	font-style: normal;
}
body{
	margin: 0;
	/*font-family:  GothaProBol;*/
}

.container{
	width: 1100px;
	margin: 0 auto;
}
.header {
	background:#27273e;
	
	display: flex;
}
.header .container{
	display: flex;
	justify-content: space-between; 
}
.logo{
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 19px;
}
.company_contact{
	padding-top: 13px;
	padding-bottom: 13px;
	padding-right: 19px;
	width: 280px;
	text-align: right;
}
a.number{
	color: white;
	text-decoration: none;
	font-family: 'GothaProBol';
	font-weight: bold;
	font-size: 27px;
}
.work{
	color: #ec1e79;
	font-size: 19px;
	font-family: 'GothaProBol';
	font-weight: bold;
}
.banner{
background:#27273e;
width: 100%;
margin: 0 auto;
text-align: center;
}
.header_banner{

}
.sidebar{
	padding-left: 20px;
	width: 107px;
}

li.link_main{
	list-style-type: none;
	font-size: 12px;
	font-family: 'GothaProBol';
	font-weight: 700;
	list-style-image: url(../img/main_icon.png);
	/*color: black;*/
	width: 30px;
	padding-bottom: 40px;
}
li.link_main a.side_menu .nav_title{
	color: black;
}
li.link_feed{
	list-style-type: none;
	list-style-image: url(../img/feed_icon.png);
	padding-bottom: 40px;
	font-size: 12px;
	font-family: 'GothaProBol';
}
li.link_wallet{
	list-style-type: none;
	list-style-image: url(../img/wallet_icon.png);
	padding-bottom: 40px;
	font-size: 12px;
	font-family: 'GothaProBol';
}

li.link_main:hover{
	list-style-type: none;
	list-style-image: url(../img/main_icon.png);
	color: black;
	
}
li.link_feed:hover{
	list-style-type: none;
	list-style-image: url(../img/feed_icon_hover.png);
	/*padding: 10px;*/
	color: black;
}
li.link_wallet:hover{
	list-style-type: none;
	list-style-image: url(../img/wallet_icon_hover.png);
	/*padding: 10px;*/
	color: black;
}
li.link_feed:hover .side_menu{
	list-style-type: none;
	list-style-image: url(../img/feed_icon_hover.png);
	/*padding: 10px;*/
	color: black;
}
li.link_wallet:hover .side_menu{
	list-style-type: none;
	list-style-image: url(../img/feed_icon_hover.png);
	/*padding: 10px;*/
	color: black;
}
li.link_wallet:hover{
	list-style-type: none;
	list-style-image: url(../img/wallet_icon_hover.png);
	/*padding: 10px;*/
	color: black;
}
.nav_title{
	font-weight: bold;
	font-size: 12pt;
}
.side_menu{
	color: #ed3385;
}
.link_feed:hover {
	color: black;
}

li:before{
	color: #ed3385;

}
.sidebar_menu a:hover +div{
	color: black;
}
a.side_menu{
	text-decoration: none;
}
.product{
	padding-left: 75px;
}
.main_text{
	font-size: 49px;
	font-family: 'GothaProBol';
	font-weight: bold;
	margin-top: 10px;
}
.main .container{
	display: flex;
	justify-content: flex-start;
}
.main .container .prod{
	display: flex;
}
.info{
	width: 200px;
}

.circle{
	position: relative;
	left: 39%;
	width: 70px;
	height: 70px;
	background: #27273e;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.img{
	position: relative;
	top: 20px;
	}
.main_offer{
	list-style-type: none;
	
	
	
}
.some_name{
	font-family: 'GothaProBol';
	font-weight: 700;
	font-size: 11px;
}
.discr{
	font-family: 'GothaProBol';
	font-size: 18px;
	font-weight: 400;
}
.text_discr{
	font-family: 'GothaProBol';
	font-size: 18px;
	font-weight: 400;
	color: #312e2e;
}
ul.offers{
	display: flex;
	text-align: center;
}
li.text_discr{
	list-style-type: none;
}
.some{
	width: 250px;
}
.offer_text{
	text-align: start;
	padding-left: 25px;
}
li.text_discr:before {

    color: #cc3366; /* Цвет маркера */
    content: "•"; /* Сам маркер */
    padding-right: 20px; 
    /* Расстояние от маркера до текста */
}

.coments_first{
	display: flex;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #f5f5f5;
	/*margin-top: 10px;*/
	padding-top: 20px;
	height: 190px;
}
.coments_first:last-child{
	border-bottom-width: 0px;
}
ul.all_coment{
	list-style-type: none;
	padding-left: 20px;

}
.date{
	font-size: 14px;
	color: #6f6e6e;
}
.who{
	font-size: 18px;
	font-family: 'GothaProBol';
}
.text{
	font-size: 18px;
	font-family: 'GothamPro-Light';
}
.pagination{
	display: flex;
	justify-content: center;
	padding-top: 66px;
	padding-bottom: 75px;
}

.pagination_controlls{
	display: flex;
}
ul.pagination_pages{
	display: flex;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
}
.pagination_pages-item{
	width: 25px;
	height: 25px;
	text-align: center;
	align-content: center;
}
.pagination_link{
	text-decoration: none;
	position: relative;
	top: 3px;
	color: black;
}
.pagination_prev{
	text-decoration: none;
	padding-right: 15px;
}
.pagination_next{
	text-decoration: none;
	padding-left: 15px;
}
.pagination_display{
	padding-right: 20px;
	font-size: 14px;
	align-items: center;
}
li.active{
	background: #27273e;
	border-radius: 5px;
}
a.active{
	color: white;
}
/*.pagination_pages-item:hover{
	background: #27273e;
	border-radius: 5px;
	color: white;
}*/
/*.pagination_link:hover{
	color: white;
	background-color: #282840;
	border-radius: 5px;
}*/


.footer{
	background:#27273e;
	display: flex;
}
.text_footer{
	color: white;
	width: 265px;
}
ul.links_logs{
	    list-style-type: none;
	    display: flex;
	    padding-left: 0px;
	    margin: 0px;
}



.circle_link{
	
	width: 20px;
	height: 20px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;}
	.footer .container {
		    display: flex;
    justify-content: space-between;
	}
	.links_text{
		color: white;
		text-align: end;
		margin-bottom: 13px;
	}
	.link_logo{
		text-align: center;
		padding-right: 10px;
	}
	.circle_link:hover{
	
	width: 20px;
	height: 20px;
	background: #ec1e79;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	    

}
a.work:hover+div  {
        display: block;
    }
    
   
  /*  .hide{
    	background-color: white;
    	display: none;
    	width: 180px;
    	height: 60px;
    	border-radius: 5px;
    	font-family: 'GothamPro-Light';
    }*/